<%= link_to 'Back', actors_path %>
 <% if user_signed_in? %> 
 	<% if current_user.is_admin %>
 		| <%= link_to 'Edit', edit_actor_path(@actor) %> 
 	<% end %>
 <% end %>
<br/>
<br/>
<div class="row">
	<div class="col-md-12"><h3><%= @actor.name %> (<%= @actor.dateOfBirth %>)</h3></div>
	<div class="col-md-3">				
      	<%= image_tag(@actor.photo) %>
	</div>
	<div class="col-md-4">
		<%= @actor.description %>
	</div>
	<div class="col-md-5 well"><strong>Movies List</strong><br/>
		 <% @movies.each do |movie| %>
          <span><%= link_to movie.name, movie_path(movie) %></span><br/>
        <% end %>
	</div>	
</div>
<br/>

